@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.number-page {
  display: flex;
  justify-content:center;
  border-radius:15px;
  border:5px solid #666;
}

.list-conatiner {
  margin-top: 10px;
  border-radius:15px;
  border:5px solid #666;
}
/*
.character-container {
  margin: 10px;
  border-radius:15px;
  border:5px solid #666;
}
*/
.character-container__avatar {
  border-bottom: 5px solid #666;
}


.character-image {
  border-radius:150px;
  border:5px solid #666;
}

